.signUp{
  max-width: 568px;
  width: 100%;
  margin:0.75% auto;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__templateInput
{
  position: relative;
  
}
.popup__templateInput p
{
  display: flex;
    justify-content: space-between;
	color: rgba(0,0,0,0.5);		font-size: 13px;	letter-spacing: -0.2px;	line-height: 20px;
}
.popup__templateInput p>span
{
color: rgba(0,100,254,1);	
cursor: pointer;
}
.popup__templateInputBox
{
  width:100%;
  padding:15px 10px;
  color: rgb(0,0,0);font-size: 13px;	line-height: 20px;
  border: 1px solid rgba(237,237,237,1);	border-radius: 4px;	background-color: rgba(255,255,255,1);
}
.signIn-container
{
  position:fixed;
  overflow-y: scroll;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
  z-index:99;
  width: 100%;
  background-color: rgba(246,246,246,1);
}
.signIn__details
{
  width:100%;
  padding:50px 60px 50px;
  border-radius: 9px;	background-color: rgba(255,255,255,1);
}
.signIn__logo
{
  margin:auto;
  height: 30px;	width: 140px;
} 
.signIn__logo img
{
  width:100%;
  height:100%;
}
.signIn__heading
{ 
    color: rgba(33,37,41,1); 
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.06px;
    line-height: 28px;
   text-align: center;
   margin-top: 10px;
   margin-bottom:30px;
}
.popup__password
{
position:relative;
}
.popup__passwordIcon
{
  position: absolute;
  top: 15px;
  right: 0px;
  padding: 0px 15px;
  color: rgba(160,160,160,1);
  cursor:pointer;
}
.signIn__bottom
{
margin-top:0px;
}
.signIn__bottom h2
{	
 font-weight:400;color: rgba(158,160,165,1); font-size: 16px;	letter-spacing: -0.05px;text-align:center;	line-height: 25px;
}
.signIn__bottom h2>span
{
  color: rgba(22,101,216,1);
  font-weight: 700;
  margin-left:4px;
  cursor:pointer;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:148px;
  height: 50px;
  padding: 0px 14px;
  border-radius: 4px;
  background-color: #2DCA73;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 10px;
  z-index:14;
}
.btn__upload
{
  background-color: #0064fe;
  border: 1px solid #0064fe;
  padding: 0px 24px;
}
.btn__transperant
{
  color:#0064fe;
  background-color: transparent;
  border:0px;
  padding:0px 10px 0px;
}
